.App {
  text-align: center;
  width: 100%;
}
.App-header {
  margin: auto;
  height: 5vh;
  margin-bottom: 2vh;
  text-align: center;
}

.board {
  margin: auto;
  height: 80vh;
  width: 80vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* border: 1px solid black; */
}