.App {
  text-align: center;
  width: 100%;
}
.App-header {
  margin: auto;
  height: 50px;
  font-size: 1rem;
  margin-bottom: 4vh;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr;
}